*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    background: #f5faff;
}

h1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 64px;
    color: #25282B;
}

h2{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    color: #25282B;
}

h3{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #25282B;
}

h4{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    color: #25282B;
}

h5{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #25282B;
}

h6{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #25282B;
}

.body_style1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #25282B;
}

.body_style2{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #25282B;
}

ul{
    list-style-type: circle;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #52575C;
}

ol{
    list-style-type: upper-roman;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #52575C;
}

.button{
    background-color: #FFFFF0;
    border: #52575C;
    color: #25282B;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; 
}

.button:hover{
    background-color: #A0A4A8;
    transition: 0.1s;
}

hr{
    color: #25282B;
}

.topnav{
    overflow: hidden;
    background-color: #FFFFFF;
}

.topnav a {
    float: right;
    color: #52575C;
    background-color: #FFFFFF;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
    
}

.topnav a:hover{
    background-color: #E8E8E8;
    color: #007EFF;
}

.topnav a.active{
    background-color: #007EFF;
    color: white;
}

.link{

}

.logo_image{
    margin-top: -6px;
    position: absolute;
    top: 6px;
    left: 0px;
    overflow: hidden;
}

.named{
    font-size: 18px;
}


.grid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media only screen and (max-width:600px)
{
    .grid {
        background-color: red;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 480px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

